* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullheader {
    max-width: 1042px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon_div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 32px;
}
.icon_div > p {
    color: #000;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
}
.left {
    display: flex;
    align-items: center;
}
.naving {
    display: flex;
    gap: 20px;
    align-items: center;
}
.naving > a {
    color: #535862;
    font-size: 16px;
    text-decoration: none;
}
.full_full {
    display: flex;
    justify-content: center;
    padding: 22px 208px;
    align-items: center;
    margin-bottom: 96px;
}
#login_button {
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    background-color: #FFF;
}
.right {
    display: flex;
    gap: 12px;
}
#signup_button {
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3px;
    border-radius: 8px;
    background-color: #7F56D9;
}
.full_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box_one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}
.first_level {
    border-radius: 10px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    display: flex;
    padding: 8px 12px 8px 8px;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}
.line_one {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    display: flex;
    gap: 6px;
}
.line_one > p {
    color: #414651;
    font-size: 14px;
}
.line_one_two {
    display: flex;
    gap: 4px;
}
.line_one_two > p {
    color: #414651;
    font-size: 14px;
}
.line_two > h1 {
    color: #181D27;
    font-size: 60px;
}
.linethree {
    max-width: 768px;
    width: 100%;
}
.line_three > p {
    color: #535862;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.line_four {
    display: flex;
    gap: 12px;
}
#demo {
    color: #414651;
    font-size: 18px;
}
.line_four > button {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D5D7DA;
    background: #FFF;
}
#signup {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #7F56D9;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
.box_two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box_three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
}
#features {
    color: #6941C6;
    font-size: 16px;
}
.box_three > h2 {
    color: #181D27;
    font-size: 36px;
}
#box_three_text {
    color: #535862;
    font-size: 20px;
}
.box_four {
    display: flex;
    gap: 16px;
    max-width: 1024px;
    width: 100%;
    margin-bottom: 96px;
}
.vector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.yuti_erti {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
}
.yuti_erti > img {
    display: flex;
    border-radius: 10px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    padding: 12px;
}
.yuti_erti > h3 {
    color: #181D27;
    font-size: 16px;
    padding-bottom: 8px;
    padding-top: 20px;
}
.yuti_erti > p {
    font-size: 16px;
    text-align: center;
    font-size: 14px;
}
.yuti_ori {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
}
.yuti_ori > img {
    display: flex;
    border-radius: 10px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    padding: 12px;
}
.yuti_ori > h3 {
    color: #181D27;
    padding-bottom: 8px;
    padding-top: 20px;
    font-size: 16px;
}
.yuti_ori > p {
    font-size: 16px;
    text-align: center;
    font-size: 14px;
}
.yuti_sami {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
}
.yuti_sami > img {
    display: flex;
    border-radius: 10px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    padding: 12px;
}
.yuti_sami > h3 {
    color: #181D27;
    font-size: 16px;
    padding-bottom: 8px;
    padding-top: 20px;
}
.yuti_sami > p {
    font-size: 16px;
    text-align: center;
    font-size: 14px;
}
.box_five {
    display: flex;
    max-width: 1024px;
    width: 100%;
    gap: 32px;
    margin-bottom: 96px;
}
.cards {
    display: flex;
    flex-direction: column;
}
.uppertext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}
#upgrade {
    color: #7F56D9;
    text-align: center;
    font-size: 16px;
}
.uppertext > h3 {
    color: #181D27;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}
.cards {
    border-radius: 16px;
    border: 1px solid #E9EAEB;
    background: #FFF;
    max-width: 496px;
    width: 100%;
    justify-content: flex-start;
}
.uppertext > p {
    color: #535862;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.uppercard {
    padding: 32px 32px 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.uppercard > img {
    padding: 12px;
    border-radius: 9999px;
    background-color: #F4EBFF;
}
.purples {
    color: #6941C6;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.uppercard > h3 {
    color: #181D27;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.greys {
    color: #535862;
    font-size: 16px;
    font-weight: 400;
}
.lowercard {
    padding: 32px 32px 40px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.lines {
    display: flex;
    align-items: center;
    gap: 12px;
}
.lines > p {
    color: #535862;
    font-size: 16px;
    font-weight: 400;
}
.buttoning {
    padding: 32px;
    border-top: 1px solid #E9EAEB;
    background: #FAFAFA;
}
.getstarted {
    border-radius: 8px;
    background-color: #7F56D9;
    max-width: 432px;
    width: 100%;
    padding: 18px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
.column_class {
    display: flex;
    flex-direction: column;
}