* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fullheader {
    max-width: 1042px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon_div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 32px;
}
.icon_div > p {
    color: #000;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
}
.left {
    display: flex;
    align-items: center;
}
.naving {
    display: flex;
    gap: 20px;
    align-items: center;
}
.naving > a {
    color: #535862;
    font-size: 16px;
    text-decoration: none;
}
.full_full {
    display: flex;
    justify-content: center;
    padding: 22px 208px;
    align-items: center;
    margin-bottom: 96px;
}
#login_button {
    padding: 10px 14px;
    display: flex;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #D5D7DA;
    background-color: #FFF;
}
.right {
    display: flex;
    gap: 12px;
}
#signup_button {
    padding: 10px 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 3px;
    border-radius: 8px;
    background-color: #7F56D9;
}
.full_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box_one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
}
.first_level {
    border-radius: 10px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    display: flex;
    padding: 8px 12px 8px 8px;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}
.line_one {
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #D5D7DA;
    background: #FFF;
    display: flex;
    gap: 6px;
}
.line_one > p {
    color: #414651;
    font-size: 14px;
}
.line_one_two {
    display: flex;
    gap: 4px;
}
.line_one_two > p {
    color: #414651;
    font-size: 14px;
}
.line_two > h1 {
    color: #181D27;
    font-size: 60px;
}
.linethree {
    max-width: 768px;
    width: 100%;
}
.line_three > p {
    color: #535862;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.line_four {
    display: flex;
    gap: 12px;
}
#demo {
    color: #414651;
    font-size: 18px;
}
.line_four > button {
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #D5D7DA;
    background: #FFF;
}
#signup {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #7F56D9;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
.box_two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.box_three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 24px;
}
#features {
    color: #6941C6;
    font-size: 16px;
}
.box_three > h2 {
    color: #181D27;
    font-size: 36px;
}
#box_three_text {
    color: #535862;
    font-size: 20px;
}
.box_four {
    display: flex;
    gap: 16px;
}